# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/hooks/hexagonal/index.ts.backup.20260122-205058
src/hooks/hexagonal/index.ts.backup.20260122-203754
src/hooks/hexagonal/index.ts.backup
complete-export-fix.ps1
export-monitor.ps1
unified-export-manager.ps1

#add docker local files
/supabase/docker/*